<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>feb19</string>
	<key>Builder Version</key>
	<string>13605.1.33.1.4</string>
	<key>CFBundleDisplayName</key>
	<string>tweet</string>
	<key>CFBundleIdentifier</key>
	<string>jp.feb19.safariextension.tweet</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>Chrome</key>
	<dict>
		<key>Global Page</key>
		<string>index.html</string>
		<key>Toolbar Items</key>
		<array>
			<dict>
				<key>Command</key>
				<string>tweet</string>
				<key>Identifier</key>
				<string>toolbar.tweet</string>
				<key>Image</key>
				<string>tweet.png</string>
				<key>Include By Default</key>
				<true/>
				<key>Label</key>
				<string>tweet</string>
				<key>Palette Label</key>
				<string>tweet</string>
			</dict>
		</array>
	</dict>
	<key>Companion Bundle Identifier</key>
	<array>
		<string>jp.feb19.safariextension.tweet</string>
	</array>
	<key>Description</key>
	<string>just tweet your browsing url</string>
	<key>DeveloperIdentifier</key>
	<string>LPN23T94U7</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>All</string>
		</dict>
	</dict>
	<key>Website</key>
	<string>http://feb19.jp</string>
</dict>
</plist>
